.searchinput{
    width: 400px;
    padding-left: 20px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
    font-family: Rampart One;
    margin-right: 30px;
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
}

.searchinput::placeholder{
    color: rgb(0, 0, 0);
    font-family: Rampart One;
}

.inputholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.inputholder:focus{
    border: gray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
}

.Add{
    border-radius: 30px;
    height: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
    cursor: pointer;
    color: rgb(54, 55, 55);
    font-size: 16px;
    font-family: Rampart One;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(245, 245, 245);
}

.todolistdiv{

    display: flex;
    background-color: rgba(227, 221, 221, 0.283);
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 30px;
    border-radius: 30px;
    min-height: 70px;
    justify-content:space-between;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 145, 255, 0.201);
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: rgb(0, 157, 255);
    flex-wrap:inherit;
    
    

}

.deletebutton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon{
    font-family: Rampart One ;
    font-weight: 900;
    font-size: 20px;
    flex-shrink:inherit;
    padding-left: 100px;

}

.link{
    flex-shrink: none;
    padding-right: 100px;
    font-family: Rampart One;
    color: black
}

.todolistcontainer{
   
    padding-left: 20%;
    padding-right: 20%;
    
} 

.navbar{
    margin-left: 5% ;
    margin-right: 5%;
}
